doctype html
html(ng-app='blogsiteApp')
  head
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    base(href='/')
    title= title
    link(rel='stylesheet',href='/css/vendor/font-awesome/css/font-awesome.css')
    link(rel='stylesheet',href='/css/vendor/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
    if showTests
      link(rel='stylesheet',href='/css/vendor/mocha.css')

  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/blog') Blogsite
            button.navbar-toggle(type='button', data-toggle='collapse', datatarget='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About

          ul.nav.navbar-nav.navbar-right
            
            if (!userInfo)
              li
                a( href='/login') Login
              li
                a( href='/register') Register
            else
              li
                a(href='/user/show/'+userInfo.email)= userInfo.name
              li
                a(href='/logout') Logout
    
    .container
      div(ng-view)
        block content
      
    footer
      .row
        .col-xs-12.col-md-12.text-center
          small &copy; David Parker 2016


    script(src='/js/vendor/jquery-1.11.2.min.js')    
    script(src='/js/vendor/angular.js')
    script(src='/js/vendor/angular/angular-route.min.js')
    script(src='/js/vendor/angular/angular-sanitize.min.js')
    script(src='/js/vendor/angular/ui-bootstrap-custom-tpls-0.12.0.min.js')
    script(src='/js/vendor/base64.js')
    script(src='/js/vendor/angular-file-upload.min.js')
    script(src='/js/blogsite.min.js')
    script(src='/js/vendor/bootstrap.min.js')
    
    script(src="/js/vendor/ueditor/ueditor.config.js")
    script(src="/js/vendor/ueditor/ueditor.all.min.js")

    if showTests
      #mocha
      script(src='/js/vendor/mocha.js')
      script(src='/js/vendor/chai.js')
      script.
        mocha.ui('tdd');
        var assert=chai.assert;
      script(src='/qa/tests-global.js')
      if pageTestScript
        script(src= pageTestScript)
      script.
        mocha.run();

