extends layout

block content
  .row
      .col-md-6.col-sm-12
        p.lead
          | Not a member? Please 
          a(href='/register') Register
          |  first.
        form.form-horizontal(method = 'post',action = '/login')
          .alert.alert-danger.sr-only(role='alert') 
          .form-group
            label.control-label.col-sm-2(for='email') Email address
            .col-sm-10
              input#email.form-control(type='email',name='email', required,placeholder='Enter email')
          .form-group
            label.control-label.col-sm-2(for='password') Password
            .col-sm-10
              input#password.form-control(type='password', name='password',placeholder='Password')
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default(type='submit') Sign in!
