extends layout

block content
  .row
      .col-md-6.col-sm-12
        p.lead
          | Already a member? Please 
          a(href='/#login?page={{ vm.returnPage }}') log in
          |  instead.
        form(method = 'post',action = '/users/register')
          .alert.alert-danger(role='alert') 
          .form-group
            label(for='name') Full name
            input#name.form-control(type='text', name='name',placeholder='Enter your name')
          .form-group
            label(for='email') Email address
            input#email.form-control(type='email',name='email', placeholder='Enter email')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password',placeholder='Password')
          .form-group
            label(for='gender') Gender
            input#gender.form-control(type='text', name='gender',placeholder='0 for F,1 for M')
          button.btn.btn-default(type='submit') Register!
