extends layout

block content
  .row
      .col-md-6.col-sm-12
        p.lead
          | Already a member? Please 
          a(href='/login') log in
          |  instead.
        -var actionStr='/user/'+=user.email;
        form.form-horizontal(method = 'post',action = actionStr)
          .alert.alert-danger.sr-only(role='alert') 
          .form-group
            label.control-label.col-sm-2(for='name') Full name
            .col-sm-10
              input#name.form-control(type='text', name='name',required,value= user.name)
          .form-group
            label.control-label.col-sm-2(for='gender') Gender
            .col-sm-10
              label.radio-inline
                input#gender1(type='radio', name='gender',value=1, checked)
                |  Male
              label.radio-inline
                input#gender2(type='radio', name='gender',value='0')
                |  Female
              label.radio-inline
                input#gender3(type='radio', name='gender',value='0')
                |  Other
          .form-group  
            label.control-label.col-sm-2(for='birthday') Birthday
            .col-sm-10
              input#birthday.form-control(type='date',name='birthday',value= user.birthday)
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-default(type='submit') Post!
