extends layout

block content
  .row
      p.lead user's information
      .col-md-6.col-sm-12
        .table-reponsive
          table.table.table-bordered.table-striped
            tbody
              tr
                th user's name
                td username
              tr
                th user's email
                td useremail

        button.btn.btn-default(type='submit') Register!
