<navigation></navigation>
<div class="container margin-top-40">
<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 login-signup-page">
		<form ng-submit="vm.submit()" name='loginForm' class="form-horizontal">
			<h2>Login </h2>
			<h5>     Not a member? Please <a id="registerlink" href="/register">Register</a> first. </h5>
			<div role="alert" class="alert alert-danger " ng-show=vm.message>
				<p style="color:rgb(255,0,0)">{{vm.message}}</p>
			</div>
			<div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				<input id="email" type="email" ng-model="vm.credentials.email" name="email" required placeholder="Enter email" class="form-control">
				<span ng-show="loginForm.email.$dirty && loginForm.email.$error.required">
					This is a required field
				</span>
			</div>
			
			<div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="vm.credentials.password" required minlength="8">
				<span ng-show="loginForm.password.$dirty && loginForm.password.$error.required">
					This is a required field
				</span>
				<span ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">
					Minimum length required is 8
				</span>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<button id="submitbtn" type="submit" class="btn btn-default">Sign in!</button>
				</div>
			</div>
		</form>
	</div>
</div>
</div>