<div class="modal-content">
  <form id="changePwd" name="passwordForm" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
    <div class="modal-header">
      <button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 id="myModalLabel" class="modal-title">Change your password for {{ vm.user.name }}</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
      <div class="form-group">
        <label for="password" class="control-label col-sm-2">Old Password</label>
        <div class="col-sm-10">
          <input id="oldpassword" type="password" name="oldpassword" ng-model="vm.user.oldpassword" required ng-minlength="8" class="form-control">
          <span ng-show="passwordForm.oldpassword.$dirty && passwordForm.oldpassword.$error.required">
            This is a required field
          </span>
          <span ng-show="passwordForm.oldpassword.$dirty && passwordForm.oldpassword.$error.minlength">
            Minimum length required is 8
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="password1" class="control-label col-sm-2">New Password</label>
        <div class="col-sm-10">
          <input id="password1" type="password" name="password1" ng-model="vm.user.password1" required ng-minlength="8" class="form-control">
          <span ng-show="passwordForm.password1.$dirty && passwordForm.password1.$error.required">
            This is a required field
          </span>
          <span ng-show="passwordForm.password1.$dirty && passwordForm.password1.$error.minlength">
            Minimum length required is 8
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="password2" class="control-label col-sm-2">Confirm Password</label>
        <div class="col-sm-10">
          <input id="password2" type="password" ng-model="vm.user.password2" required ng-minlength="8" class="form-control">
          <span ng-show="passwordForm.password2.$dirty && passwordForm.password2.$error.required">
            This is a required field
          </span>
          <span ng-show="passwordForm.password2.$dirty && passwordForm.password2.$error.minlength">
            Minimum length required is 8
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit password</button>
    </div>
  </form>
</div>