<navigation></navigation>


<div class="row">
	<div class="col-md-8 col-md-offset-2 col-md-8 col-xs-12">
			<p class="lead">User Table</p>
			<div class="table-reponsive">
			<div class="error ng-binding"></div>
			<table class="table table-bordered table-striped table-hover">
				<tbody>
					<tr><td>Account</td><td>Name</td><td>Gender<td>Operation</td>
					<tr ng-repeat="user in vm.userlist"><td ng-bind="user.email"></td><td ng-bind="user.name"></td>
					<td >{{user.gender===1?'Male':(user.gender===0?'Female':'Unknown')}}</td>
					<td>
						<div class="btn-toolbar" role="toolbar">
					      <div class="btn-group">
					        <a class="btn btn-default" aria-label="edit" type="button" href="/">
					        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
					        <button class="btn btn-default" aria-label="Center Align" type="button" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					        <button class="btn btn-default" aria-label="Right Align" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					      </div>
					    </div>
					</td>
					</tr>
				</tbody>
			</table>
		</div>
		<nav>
		  <ul class="pagination">
		    <li ng-class="prevPageLink">
		      <a type="button" class="btn btn-default" ng-click="vm.topage(vm.curpage-1)" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li  ng-repeat="page in vm.pageArr"  >
		    <a type="button" class="btn btn-default" ng-click="vm.topage(page)">{{page}}</a>
		    </li>
		    
		    <li ng-class="nextPageLink">
		      <a type="button" class="btn btn-default" ng-click="vm.topage(vm.curpage+1)" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
	<div class='col-md-2'></div>
</div>