<navigation></navigation>
<h3 ng-hide=vm.article._id>New Article</h3>
<alert ng-repeat="alert in art.alerts" type="{{alert.type}}" close="art.closeAlert($index)">
<em class="fa fa-exclamation-circle fa-lg fa-fw"></em>
<span ng-bind-html="alert.msg"></span>
</alert>
<div class="row margin-top-20">
<!-- Article Content-->
<div class="col-lg-12">
   <div class="panel panel-default">
      <div class="panel-body">
         <form action="">
            <p>Title</p>
            <input type="text" name="article-title" placeholder="Article title..." class="mb-lg form-control input-lg" ng-model="vm.article.title" />
            <!-- Wysiswyg editor-->
            <div text-angular=""  name="wysiswyg-editor" class="btn-group-small">
               <br/>
               <p>Notes</p>
               
               <div class="ueditor  margin-bottom-20" style="min-height:400px" config="vm.config" ready="vm.ready" ng-model="vm.article.content"></div>
            </div>
            <div class="clearfix">
               <div class="pull-left">
                  <button type="button" class="btn btn-default m-r-10 m-t-10">
                  <em class="fa fa-edit fa-fw"></em>Draft</button>
                  <button type="button" class="btn btn-primary m-t-10" ng-click="vm.saveBlog()">
                  <em class="fa fa-check fa-fw"></em>Save</button>
               </div>
               <div class="pull-right" ng-show="vm.blogid" >
                  <button type="button" class="btn btn-danger m-r-10 m-t-10" ng-click="vm.delBlog()">
                  <em class="fa fa-trash fa-fw"></em>Remove</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   <commentEdit blog-id=vm.blogid></commentEdit>
</div>
<script type="text/javascript" src="/js/vendor/ueditor/angular-ueditor.min.js"></script>
</div>