<navigation></navigation>
<div class="row margin-top-20">
   <!-- Blog Content-->
   <div class="col-lg-9">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="bb">
               <h2 class="text-lg">{{vm.article.title}}</h2>
               <p class="clearfix">
                  <span class="pull-left">
                     <small class="mr-sm">By <a href="/blog/author/{{vm.article.userEmail}}">{{vm.article.userName}}</a>
                     </small>
                     <small class="mr-sm">{{vm.article.createdOn| date:'yyyy-MM-dd'}}</small>
                  </span>
               </p>
            </div>
         </div>
         <div class="panel-body text-md">
            <p>Praesent bibendum eros urna, in mattis est. Curabitur a purus urna, sit amet auctor erat. Praesent pellentesque augue eu tellus facilisis pretium. Aenean sollicitudin facilisis tortor eu mollis. Vivamus feugiat faucibus enim. Sed ut semper
               leo. Etiam feugiat risus massa. Nunc et magna in metus pharetra ultricies ac sit amet justo. Donec eu dolor sem, non auctor sapien. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit.</p>
            <p>Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Praesent blandit venenatis mauris ac cursus. Nulla commodo interdum magna consectetur lacinia. Maecenas vitae adipiscing mauris. Nam sodales sollicitudin adipiscing.</p>
            <br/>
            <div class="row">
               <div class="col-xs-3">
                  <a href="">
                     <img src="app/img/bg4.jpg" class="img-responsive" />
                  </a>
               </div>
               <div class="col-xs-3">
                  <a href="">
                     <img src="app/img/bg5.jpg" class="img-responsive" />
                  </a>
               </div>
               <div class="col-xs-3">
                  <a href="">
                     <img src="app/img/bg7.jpg" class="img-responsive" />
                  </a>
               </div>
               <div class="col-xs-3">
                  <a href="">
                     <img src="app/img/bg8.jpg" class="img-responsive" />
                  </a>
               </div>
            </div>
            <br/>
            <p>{{vm.article.content}}</p>
            <hr/>
            <div role="group" aria-label="..." class="btn-group">
               <button type="button" class="btn btn-default">
                  <em class="fa fa-facebook text-muted"></em>
               </button>
               <button type="button" class="btn btn-default">
                  <em class="fa fa-twitter text-muted"></em>
               </button>
               <button type="button" class="btn btn-default">
                  <em class="fa fa-google-plus text-muted"></em>
               </button>
               <button type="button" class="btn btn-default">
                  <em class="fa fa-tumblr text-muted"></em>
               </button>
               <button type="button" class="btn btn-default">
                  <em class="fa fa-share-alt text-muted"></em>
               </button>
            </div>
            <div role="group" aria-label="..." class="btn-group pull-right">
               <a type="button" class="btn btn-default" href='/blog/edit/{{vm.article._id}}'>
                  <em class="fa fa-edit text-muted"></em>
               </a>
               <button type="button" class="btn btn-default">
                  <em class="fa fa-gear text-muted"></em>
               </button>
               <a type="button" class="btn btn-default" href='/blog/edit/new'>
                  <em class="fa fa-plus text-muted"></em>
               </a>
               <button type="button" class="btn btn-default">
                  <em class="fa fa-trash text-muted"></em>
               </button>
            </div>
         </div>
      </div>
      <div class="panel" ng-show="vm.commentList.length">
         <div class="panel-heading">{{vm.commentList.length}} Comments</div>
         <div class="panel-body">
            <div class="media" ng-repeat="comment in vm.commentList">
               <div class="media-left">
                  <a href="#">
                     <img src="app/img/user/01.jpg" class="media-object img-circle thumb64" />
                  </a>
               </div>
               <div class="media-body">
                  <h4 id="media-heading" class="media-heading"><a href="">{{comment.userName}}</a>
                     <small>10 min</small>
                     <a href="#media-heading" class="anchorjs-link">
                        <span class="anchorjs-icon"></span>
                     </a>
                  </h4>
                  <p>{{comment.content}}.</p>
               </div>
            </div>
            <hr/>
         </div>
      </div>
      <div class="panel" ng-show="vm.isLoggedIn">
         <div class="panel-heading">
            <em class="fa fa-pencil mr"></em>Add your Comment</div>
         <div class="panel-body">
            <form ng-submit="vm.saveComment()"  class="form-horizontal">
               <div class="form-group">
                  <div class="col-xs-12">
                     <textarea id="post-comment" ng-model="vm.comment" name="post-comment" rows="4" placeholder="Comment here.." class="form-control"></textarea>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-xs-12">
                     <button type="submit" class="btn btn-effect-ripple btn-primary">Send Comment</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!-- Blog Sidebar-->
   <div class="col-lg-3">
      <!-- Search-->
      <div class="panel panel-default">
         <div class="panel-heading">Search</div>
         <div class="panel-body">
            <form class="form-horizontal">
               <div class="input-group">
                  <input type="text" placeholder="Search for..." class="form-control" />
                  <span class="input-group-btn">
                     <button type="button" class="btn btn-default">
                        <em class="fa fa-search"></em>
                     </button>
                  </span>
               </div>
            </form>
         </div>
      </div>
      <!-- Categories-->
      <div class="panel panel-default">
         <div class="panel-heading">Categories</div>
         <div class="panel-body">
            <ul class="list-unstyled">
               <li>
                  <a href="">
                     <em class="fa fa-angle-right fa-fw"></em>Smartphones</a>
               </li>
               <li>
                  <a href="">
                     <em class="fa fa-angle-right fa-fw"></em>Mobiles</a>
               </li>
               <li>
                  <a href="">
                     <em class="fa fa-angle-right fa-fw"></em>Tech</a>
               </li>
               <li>
                  <a href="">
                     <em class="fa fa-angle-right fa-fw"></em>Inpiration</a>
               </li>
               <li>
                  <a href="">
                     <em class="fa fa-angle-right fa-fw"></em>Workspace</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- Tag Cloud-->
      <div ng-controller="WordCloudController as wc" class="panel panel-default">
         <div class="panel-heading">Tag Cloud</div>
         <div class="panel-body">
            <jqcloud words="wc.words" width="240" height="200" steps="7" class="center-block"></jqcloud>
         </div>
      </div>
      <!-- Ads-->
      <div class="panel panel-default">
         <div class="panel-heading">Ads</div>
         <div class="panel-body">
            <a href="">
               <img src="app/img/mockup.png" class="img-responsive img-thumbnail" />
            </a>
         </div>
      </div>
   </div>
</div>